
.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.container {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* gap: 5px; */
}

.topLevel {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.6em;
}

.bottomLevel {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #d3d3d3; 
    font-size: 0.8em;
    gap: 10px;
}