
.logo {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

.resultBox {
    border-radius: 8px;
}

.resultBox:hover {
    background-color: #3d3d3d;
}

.container {
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 15px;
}

.active {
    background-color: #3d3d3d;
}

.container::-webkit-scrollbar {
    display: none;
}

.textContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topLevel {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 1.6em;
}

.bottomLevel {
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #d3d3d3; 
    font-size: 0.8em;
    gap: 10px;
}