
.searchBox{
    padding: 10px 15px; /* Increased padding for a larger appearance */
    font-size: 18px; /* Increased font size for better readability */
    border: 2px solid #5C5C5C;
    border-radius: 10px; /* Slightly larger border-radius for a softer look */
    background-color: #2f2f2f;
    color: #f6f6f6;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        border-color: #4A90E2;
    }
}